<header></header>
<section id="primary">
  <div>{{user.username}}</div>
  <div class="animated zoomInRight">
    <div class="input-group search-bar">
      <input type="text" ng-model="search" ng-change="change()" onclick="select()" class="form-control" placeholder="Enter champion name" autofocus />
      <span class="input-group-addon bar-style"><i class="glyphicon glyphicon-search"></i></span>
    </div>

    <div id="main-info" class="col-md-8">
      <div ng-if="rowList === false">
        Loading results...
      </div>

      <div ng-if="rowList">
        <h3>Last Jungle Champions Played</h3>
        <ul ng-repeat="data in rowList">
          <li>{{data.name}}</li>
        </ul>
        <h3>Most Likely to Gank</h3>
        <ul ng-repeat="lane in lanes">
          <li>{{lane}}</li>
        </ul>
      </div>

    </div>

  </div>

</section>
