<header></header>
<section id="primary">

  <noscript>
    <div class="nojs">Javascript is either disabled or not supported in your browser. Please enable it or use a Javascript enabled browser.</div>
  </noscript>

  <div class="animated zoomInRight">
    <div class="input-group search-bar">
      <input type="text" ng-model="search" ng-change="change()" onclick="select()" class="form-control" placeholder="Enter champion name" autofocus />
      <span class="input-group-addon bar-style"><i class="glyphicon glyphicon-search"></i></span>
    </div>

    <div id="main-info" class="col-md-8">
      <div ng-if="!details">
        Loading results...
      </div>

      <div ng-if="details">
        <ul ng-repeat="data in details.matches | filter:'JUNGLE'">
          <li>{{data}}</li>
        </ul>
        <!-- <ul ng-repeat="data in details.matches">
          <li>{{data}}</li>
        </ul> -->
      </div>

      <!-- <div ng-if="!details">
        No results found.
      </div> -->
    </div>

  </div>

</section>
