<header></header>
<section id="primary">
  <div class="container">

    <div class="row">
      <div class="col-xs-6 col-xs-offset-3 text-center">
        <img src="../assets/image001.png" class='logo'></img>
        <h1>Welcome to ArtemisGG</h1>

        <div class="input-group search-bar">
          <input type="text" ng-model="search" ng-change="change()" onclick="select()" class="form-control" placeholder="Enter summoner name" autofocus />
          <span class="input-group-addon bar-style"><i class="glyphicon glyphicon-search"></i></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-xs-offest-3 text-center pushmid">
          <div ng-if="rowList === false">
            Loading results...
          </div>

          <div ng-if="rowList">
            <h3>Last Jungle Champions Played</h3>
            <ul class="list-group">
              <li ng-repeat="data in rowList | unique:'id'" class="list-group-item">
                <img ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/loading/{{data.name}}_0.jpg">
                {{data.name}}
              </li>
            </ul>
            <h3>Most Likely to Gank</h3>
            <ul class="list-group">
              <li ng-repeat="lane in lanes" class="list-group-item">{{lane}}</li>
            </ul>
          </div>
      </div>

    </div>

  </div>
</section>
