<header></header>
<section id="register">
  <div class='container'>
      <div class='row'>
        <div class='col-sm-4 col-sm-offset-4 text-center'>
          <div>{{message}}</div>
          <h1>New user registration</h1>
          <form method='post' action='/api/register'>
            <input type='text' placeholder='username' name='username' ng-model='user.username' class='form-control'>
            <input type='password' placeholder='Password' name='password' ng-model='user.password' class='form-control'>
            <input type='submit' ng-click='errorHandler' class='btn btn-primary' value='Register'>
          </form>
        </div>
      </div>
  </div>
</section>
