section	{
	.content {
		h1 {
			margin-bottom:0;
			color: red;
		}
		h4 {
			margin-top:0;
			color: gray;
		}
		p {
			font-size: 20px;
		}
	}
}

section#intro {
	height: 100vh;
	// min-height:500px;
	width:100vw;
	font-weight: 300;
	font-size: 35px;
	// z-index: 1;
	// position:fixed;
	// top: 0%;
	// left: 0%;

	.wrap {
		position:relative;
		top:0%;
		left:0%;
		height:100%;
	}
}
