<html>
  <head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<title>ArtemisGG</title

    <!-- bower:js -->
    <script src="lib/jquery/dist/jquery.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="lib/angular-animate/angular-animate.js"></script>
    <script src="lib/angular-touch/angular-touch.js"></script>
    <!-- endbower -->

    <!-- stylesheets -->
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="sass/main.css" rel="stylesheet" type="text/css">

  </head>
  <body ng-app="artemisgg">

  </body>
</html>
